@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    background-color: aliceblue;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
}

.section.content.bg1, .section.content.bg3,  .section.content.bg5 {
    background-image:url('https://images.pexels.com/photos/3489391/pexels-photo-3489391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    color: white;
  }